.buying_manager {
  float: right;
  position: relative;
  top: -30px;
  right: 10px;
  width: 80px;
  height: 30px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  color: #EEE;
  border: #2C426D 1px solid;
  border-radius: 4px;
  background-color: #2C426D;
}

.manager img {
  width: 140px;
  margin-left: 10px;
}

.manager {
  height: 600px;
  width: 160px;
  margin: 31px;
  z-index: 10;
}

#manager_modal {
  display: inline-flex;
}

.manager_name {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #2C426D;
}

.manager_role {
  text-align: center;
  font-size: 1rem;
}

.manager_seuil {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  top: -10px;
}