.upgrades {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 600px;
  top: 130px;
}

#left_upgrade {
  left: 100px;
}

#right_upgrade {
  left: 800px;
}

.object {
  height: 150px;
  margin-bottom: 10px;
}

.object_icon {
  height: 120px;
  margin: 14px;
}

.left_up {
  float: right;
  width: 320px;
  height: 120px;
  margin: 10px;
}

.right_up {
  float: left;
  width: 320px;
  height: 120px;
  margin: 10px;
}

.buyproduct_left {
  width: 80px;
  height: 60px;
  background-color: #C79479;
  color: #E3E7E7;
  border: none;
  position: relative;
  top: 20px;
  font-size: 1.5rem;
  left: -177px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.buyproduct_right {
  width: 80px;
  height: 60px;
  background-color: #C79479;
  color: #E3E7E7;
  border: none;
  position: relative;
  top: 20px;
  font-size: 1.5rem;
  right: -60px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.qtes {
  text-align: center;
  width: 100px;
  border-radius: 30px;
  padding-bottom: 20px;
  background-color: #E3E7E7;
  border: solid 4px #2C426D;
  color: #2C426D;
  font-size: 1.4rem;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.buy_supl_left {
  position: relative;
  top: -64px;
  left: 90px;
  width: 100px;
  height: 48px;
  background-color: #C79479;
  color: #E3E7E7;
  border: none;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 12px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.buy_supl_right {
  position: relative;
  top: -64px;
  right: -122px;
  width: 100px;
  height: 48px;
  background-color: #C79479;
  color: #E3E7E7;
  border: none;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 12px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.time_left_left {
  position: relative;
  top: -148px;
  left: 200px;
  width: 106px;
  height: 48px;
  background-color: #C79479;
  color: #E3E7E7;
  border: none;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 12px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.time_left_right {
  position: relative;
  top: -148px;
  width: 106px;
  height: 48px;
  background-color: #C79479;
  color: #E3E7E7;
  border: none;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 12px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

#qte_nike {
  position: absolute;
  left: 20px;
  height: 10px;
  top: 75px;
}

#qte_pingpong {
  position: absolute;
  left: 20px;
  height: 10px;
  top: 240px;
}

#qte_football {
  position: absolute;
  left: 20px;
  height: 10px;
  top: 395px;
}

#qte_schrimp {
  position: absolute;
  left: 360px;
  height: 10px;
  top: 75px;
}

#qte_chocolate {
  position: absolute;
  left: 360px;
  height: 10px;
  top: 240px;
}

#qte_van {
  position: absolute;
  left: 360px;
  height: 10px;
  top: 395px;
}


#possessed_nike,
#possessed_chocolate,
#possessed_pingpong,
#possessed_van,
#possessed_schrimp,
#possessed_football {
  width: 140px;
  height: 40px;
  position: relative;
  top: 23px;
  margin-right: 37px;
  float: left;
}

#bar_nike,
#bar_chocolate,
#bar_pingpong,
#bar_van,
#bar_schrimp,
#bar_football {
  width: 318px;
  height: 40px;
  position: relative;
  top: 10px;
}