#splash_screen {
  z-index: 40;
  position: absolute;
  width: 1400px;
  height: 788px;
  top: 0;
  left: 0;
}

body {
  width: 1400px;
  overflow: hidden;
}

#check_money {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 50px;
  display: inline-flex;
}

#check_money img {
  height: 45px;
  margin-left: 10px;
  margin-top: 9px;
}

#check_money span {
  font-size: 2.8rem;
  color: #1D4999;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  margin-left: 15px;
}

#display_infos {
  position: absolute;
  top: 20px;
  left: 670px;
  height: 60px;
  z-index: 38;
}

#infos_user {
  position: absolute;
  top: 300px;
  left: 500px;
  width: 400px;
  height: 188px;
  background-color: #C79479;
  z-index: 39;
  visibility: hidden;
  text-align: center;
}

#infos_user img {
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#infos_user span {
  font-size: 1.8rem;
  color: #1D4999;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: bold;
}

#infos_user_background {
  visibility: hidden;
  position: absolute;
  z-index: 37; /* Sit on top */
  left: 0;
  top: 0;
  width: 1400px; /* Full width */
  height: 788px; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#change_vitesse {
  position: absolute;
  top: 10px;
  left: 1260px;
  height: 50px;
  display: inline-flex;
}

#change_vitesse img {
  height: 50px;
  transform: rotate(45deg);
  margin-left: 10px;
  margin-top: 9px;
}

#change_vitesse span {
  font-size: 2.8rem;
  color: #1D4999;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  margin-left: 15px;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  z-index: 0;
}

#forest {
  position: absolute;
  width: 360px;
  top: 430px;
  left: 520px;
  z-index: 9;
}

#navbar {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 720px;
  height: 64px;
  width: 1400px;
}

.navlink {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  display: inline-block;
  text-decoration: none;
  color: #2C426D;
  font-size: 1.6em;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  width: 260px;
  text-align: center;
}

#nav_unlocks {
  left: 0px;
}

#nav_upgrades {
  left: 260px;
}

#nav_investors {
  left: 880px;
}

#nav_managers {
  left: 1140px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 1400px; /* Full width */
  height: 788px; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #C79479;
  border-top: #2C426D solid 6px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 0;
  width: 1360px; /* Could be more or less, depending on screen size */
  position: absolute;
  height: 552px;
}

.modal_title {
  display: none; /* Hidden by default */
  z-index: 12;
  width: 150px;
  position: absolute;
  left: 120px;
  top: 165px;
  font-weight: bold;
  color: #2C426D;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
}

#title_cap {
  display: none; /* Hidden by default */
  z-index: 11;
  position: absolute;
  width: 310px;
  top: 173px;
  left: 30px;
}

#indication_modal {
  z-index: 20;
  display: none;
  position: absolute;
  top: 60px;
  left: 400px;
  width: 600px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

