#intro_invest {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  text-align: center;
  font-size: 1.4rem;
  color: #2C426D;
  padding-left: 110px;
  padding-right: 110px;
}

.invest_img {
  display: inline;
}

.invest_side {
  display: inline-flex;
  width: 932px;
}

.invest_card {
  border: solid 6px #2C426D;
  background-color: #E3E7E7;
  border-radius: 15px;
  margin: 20px 60px 0 60px;
  text-align: center;
  width: 330px;
  height: 150px;
}

.invest_img img {
  position: absolute;
  left: 940px;
  top: 146px;
  height: 330px;
  border-radius: 15px;
  border: solid 6px #2C426D;
  margin: 0 60px;
}


.invest_title {
  font-weight: bold;
  color: #2C426D;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: -1px;
  font-size: 1.8rem;
}

.invest_value {
  color: black;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.3rem;
}
